.header__main {
    width: 95%;
    height: 6em;
    margin: auto;
    margin-bottom: 10px;
}

.nav-options img {
    width: 80px;
    height: 80px;
}
.nav-options{
    background-color: transparent;
    overflow: hidden;
    /*line-height: 3.5;*/
    width: 98%;
    margin: auto;
    padding: 15px 0;
    box-sizing: border-box;
}
.nav-options .btn-register{
    background: transparent;
    font-size: 25px;
    margin-top: 10px;
}

@media screen and (min-width: 950px) {
    .head__logo {
        margin: 40px 40px;
    }
    .opt__register {
        margin: 15px 40px;
    }
    .nav-options {
        width: 85%;
    }
}