
.conteiner__index {
    width: 100%;
}
.learn__1 {
    text-align: center;
    display: inline-block;
    color: #fff;
    width: 100%;
}
.inicia {
    width: 150px;
    height: 45px;
    color: #fff;
    font-size: 20px;
    background: #256e8f;
    border: 0;
    border-radius: 15px;
    margin: 20px 0;
    cursor: pointer;
}
.inicia:hover {
    background: #95a5a6;
}
.learn__1 h2 {
    width: 100%;
    margin: 10px 0;
    font-size: 30px;
}
.learn__1 h4 {
    font-size: 2em;
}
.materias {
    width: 90%;
    margin: auto;
}
.materias .opt__img {
    margin: 10px auto;
    width: 100%;
    display: inline-block;
}
.opt__img .img0 {
    width: 70%;
    height: 200px;
    margin: auto;
    border: 2px solid black;
}

/*login del index.php*/
.login__main {
    display: none;
    width: 330px;
}

.login__main form {
    margin: auto;
    width: 100%;
    background: #1395c9;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
    text-align: center;
}
.checkName h1 {
    color: #fff;
    margin-bottom: 10px;
}
.login__main .chekName {
    display: flex;
}
.form-submit .btn {
    width: 100%;
    
    background: #3b5998;
    color: #fff;
    margin: 10px auto;
    border: 0;
}
.form-style input {
    width: 100%;
    margin: 5px auto;
    height: 35px;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 1.3em;
    border-radius: 5px;
    border: 1px solid #060606;
}
.form-submit #btn__down {
    width: 50%;
    margin: 5px 0px;
    font-size: 20px;
    border-radius: 10px;
    background: #18779D;
}
.checkName a {
    color: #fff;
    font-size: 20px;
}
/*modal de inicio-----------------------*/
.conteiner__modallogin {
    position: absolute;
}
.modal__login {
    position: fixed;
    background: rgba(0,0,0,0.7);
    display: flex;
    width: 100%;
    height: 100vh;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.lookregister {
    visibility: visible;
    opacity: 1;
    transition: all 0.5s;
}
.login__in {
    width: 280px;
    margin: auto;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
    background: #1395c9;
    border-radius: 8px;
}

.modal__close {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    float: right;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.modal__close:hover {
    background: red;
}
.login__in h1 {
    font-size: 20px;
    margin: 15px auto;
}
.login__in .btn-face {
    width: 230px;
    height: 35px;
    background: #385998;
    border: 0;
    color: #fff;
}
.login__in form .input {
    width: 90%;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
}
.login__in .start {
    width: 90%;
    height: 30px;
    border-radius: 15px;
    margin: 10px 0;
    background: #1f789d;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.login__in a {
    color: #fff;
}

@media screen and (min-width: 767px){
    .learn__1 {
        width: 750px;
    }
    .materias {
        width: 700px;
    }
    .materias .opt__img {
        width: 200px;
    }
    .opt__img .img0 {
        width: 90%;
    }
}
.frugos{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 950px) {
    .conteiner__index {
        width: 95%;
        margin: auto;
        margin-top: 70px;
        display: flex;
        align-items: center;
    }
    .inicia {
        display: none;
    }
    .login__main {
        display: inline-block;
    }
    .learn__1 h4 {
    font-size: 3.3em;
    }
}
