* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 40px;
    background: #23D1DA;
    color: #fff;
    position: fixed;
    top: 0;
}

header h3 {
    float: left;
    font-size: 25px;
    margin: 5px 10px;
}

header .main {
    width: 30px;
    float: right;
    cursor: pointer;
    margin: 10px 10px;
}

.uno, .dos, .tres {
    height: 4px;
    background: #fff;
}

.dos {
    margin: 2px 0;
}
 /*estilos de info */
.contenedor {
    margin: 40px auto;
    width: 98%;
    padding: 20px 0px;
    box-sizing: border-box;
    font-size: 15px;
}

.info h1 {
    text-align: center; 
}

.info section {
    width: 100%;
    margin: 30px auto;
}

.info h2 {
    margin: 0 20px;
    display: inline-block;
}

@media screen and (min-width: 480px){
    .contenedor {
        font-size: 30px;
    }
    
    .info section {
        width: 530px;
    }
}
@media screen and (min-width: 767px){
    
}