@import url('https://fonts.googleapis.com/css?family=Hind');


*{
	margin:0;
	padding: 0;
  font-family: 'Hind', sans-serif;
}

a{
  color: white;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.btn{
  color: white;
  cursor: pointer;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  height: 50px;
  background: #397d9e;
  border-radius: 5px;
  font-size: 15px;
}

#fb-login{
  background: #4a6ea9;
}

.input{
  border-radius: 5px;
}

.header-encabezado{
	background: #397d9e;
	height: 10%;
}
.header-quiz{
	display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.quiz{
	height: 80px;
	width: 80px;
}
.title-quiz{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	
}
.parrafo-quiz{
	margin: 30px;	
}
.conteiner{
	display: flex;
	height: 88vh;
}
.content{
	width: 50%;
}
.login{
	width: 50%;
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	font-size: 25px;
}
.form-style input{
	border:1px solid #060606;
  padding: 6px;
  margin-bottom: 8px;
  height: 29px;
  width: 275px;
}

.btn-medium{
  width: 150px;
}

.btn-large{
  width: 300px;
}



.form-submit input{
  height: 30px;
  width: 260px;
}

/*MODAL*/
.boto1 {
  display: table;
  /*margin: 0;*/
  /*padding: .5em 1em;*/
  width: 1em;
  height: 1em;
  color: #999999;
  background-color: #D3D3D3;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  /*border-radius: 3px;*/
  cursor: pointer;
}
.boto1:hover {
  text-decoration: none;
}
.boto1:active, .boto1:focus {
  outline: none;
}
.boto1:visited {
  color: white;
}

.finestra-modal1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: all .75s;
  transition: all .75s;
}

.finestra-modal__contingut1 {
  position: relative;
  width: 30%;
  text-align: center;
  background-color: white;
  height: 70%;

}
.finestra-modal__contingut1 h3 {
  margin-top: 0;
  margin-bottom: 2em;
  padding-bottom: 1em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.finestra-modal__contingut1 .finestra-modal-tancar1 {
  position: absolute;
  z-index: 15;
/*  top: 15px;*/
  right: 1px;
  padding: 0;
  /*background-color: none;
  border-radius: 50%;*/
  margin: 5px;
}

.js-mostrar1 {
  top: 0;
}
/*fin de modal*/
h1.modal-registrate{
  margin-top: 20px;
}
.form-register {
    margin-top: 20px;
    font-size: 19px;
}
button.register-enviar {
    margin-top: 15px;
    font-size: 22px;
    padding: 10px;
}

.header-quiz p{
    color: white;
  }

.nav-options > a{
  float: left;
  display: block;
  padding: 15px;
}

.nav-options{
  background-color: #397d9e;
  overflow: hidden;
  line-height: 3.5;
}

nav .btn{
  margin-top: 10px;
  background: #0f5561;
}

.icon{
    display: none !important;

}
.nav-options a:not(:first-child) {float: right;}

@media screen and (max-width: 600px) {
  .nav-options a:not(:first-child) {/*display: none;*/}
  .nav-options a.icon {
    float: right;
    display: block !important;
  }

 .questionary .title{
    font-size: 35px !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-options.responsive {position: relative;}
  .nav-options.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-options.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.container{
      height: 100%;
    }
    .questionary{
      padding: 0px 150px;
    }

    .questionary .title{
      font-size: 65px;
    }

    .questionary .option{
      background: #168863;
      cursor: pointer;
      padding: 20px;
      width: 100%;
      font-size: 25px;
      margin: 15px;
      color: white;
      border-radius: 10px;
    }

    .questionary .label{
      font-size: 30px;
    }

    .response{
      width: 100%;
    }
    .response *{
      font-size: 20px;
    }
